.container {
  display: flex;
  height: 650px;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, body {
  padding: 20px;
  text-align: center;
}


@media (max-width: 768px) {
  header, body  {
      padding: 10px;
  }
}

.left-part {
  flex: 0 0 275px ;
  height: 100vh;
  border: 0px solid black;
  padding: 20px;
  background-color: #051436;
}
  .me{
    margin: 10px 10px 25px 10px;
    border-radius: 100%;
    border: 5px solid #093285;}
  img{
     margin: 10px 10px 25px 10px;
  }




button {
  color: white;
  font-size: medium;
  align-items: left;
  justify-content: left;
  text-align: left;
  margin: 10px 40px 10px 10px;
  padding: 10px 40px 10px 10px;
  border-radius: 10px;  
  background-color: #093285;
  border:  none;
  width: 150px;
  height: 40px;


}

button:hover {
  background-color: #1248c4;
}

.date {
  color: #ffffff;
  margin-top: 200px;
  font-size: smaller;
}

.right-part{
flex: 1;
flex: 0px 00px 0px 0px;
border: 0px solid black;
padding: 20px 0px 0px 0px;
background-color: #AFDBF5;
}

H1{
  text-align: left;
  padding: 30px 20px 0px 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1F305E;
  color: #E1EBEE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

H3{
  text-align: left;
  padding: 0px 20px 20px 60px;
  margin-top: 0px;
  background-color: #1F305E;
  color: #E1EBEE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.description{
  text-align: justify;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E0FFFF;
  margin: 10px 40px 10px 40px; 
  border-radius: 20px;
}

.list-inline {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  display: inline-block; /* Display list items inline */
}


ul{
  padding: 100px 100px 100px 100px;
  margin-right: 100px;
  margin-top: 60px;
  background-color: #F0F8FF;
  font-weight: 100;
  border-radius: 10px;
}

ul li{
  padding: 10px 50px 10px 50px;
  font-weight: bold;
}

ul:hover{
  transition: filter 0.3s ease-in-out;
}
.topic{
  background-color: #0039a6;
  border-radius: 10px;
  padding: 15px 50px 15px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: aliceblue;
}